/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-mei-2015, 12:22:45
    Author     : Tristan
*/

#profileForm input[type=text]{
	border:3px solid #ccc;
	padding:5px 5px 5px 10px;
	margin-bottom:5px;
	max-width:93%;
	width:100%
}

#profileForm input[type=text]:hover{
	box-shadow:0 0 4px #000000;
        border-color: #bbb;
}

#profileForm input[type=password]{
	border:3px solid #ccc;
	padding:5px 5px 5px 10px;
	margin-bottom:5px;
	max-width:93%
}

#profileForm input[type=password]:hover{
	box-shadow:0 0 4px #000000;
        border-color: #bbb;
}