/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-mei-2015, 12:22:45
    Author     : Tristan
*/

#profileForm input[type=text]{
	border:3px solid #ccc;
	padding:5px 5px 5px 10px;
	margin-bottom:5px;
	max-width:93%;
	width:100%;
        font-size: 14px;
}

#profileForm input[type=text]:hover{
	box-shadow:0 0 4px #000000;
        border-color: #bbb;
}

#profileForm input[type=password]{
	border:3px solid #ccc;
	padding:5px 5px 5px 10px;
	margin-bottom:5px;
	max-width:93%
        font-size: 14px;
}

#profileForm input[type=password]:hover{
	box-shadow:0 0 4px #000000;
        border-color: #bbb;
}

#profileForm input[type=submit]{
	background-color:#0000bb;
	border:none;
        width: 100%;
        max-width: 96%;
	margin-bottom:5px;
	color:#fff;
	font-weight:700;
	text-shadow:0 1px 2px #799a1d;
	padding:3px 15px 5px;
        cursor: url('../img/xp-middle-finger-2.cur'), default;
	-webkit-transition:background-color .2s;
	-moz-transition:background-color .2s;
	-o-transition:background-color .2s;
	-ms-transition:background-color .2s;
	transition:background-color .2s;
	-webkit-appearance:none
}

#profileForm input[type=submit]:hover{
	background-color:#555;
	text-shadow:0 0 0 #000
}