body {
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

label {
    font-weight: normal;
    font-size: 14px;
}

h1 {
    font-weight: bold;
    text-align: center;
}

ul{
    display: inline;
    margin: 0;
    padding: 15px 0px 0px 0px;
    list-style: none;
}

ul li{
    font-weight: bold;
    list-style: none;
    display: inline-block;
    position: relative;
    margin-right: -4px;
    padding: 15px 10px;
    background-color: #FFFFFF;
    cursor: url('../img/xp-middle-finger-2.cur'), default;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

ul li:hover{
    background-color: #555555;
    color: #FFFFFF;
}

ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

ul li ul li:hover { 
    background: #666; 
}

#bannerContainer {
    position: relative;
    margin: 0 auto;
    width: 60%;
    height: 50px;
    background: none;
}

#container {
    position: relative;
    margin: 0 auto;
    width: 60%;
    height: 100%;
    background: white;
}

#inhoud {
    height: 100%;
    padding: 0px 15px 15px 15px;
}

#login {
    display: inline-block;
    border: solid 10px black;
    float: right;
    position: relative;
}

#loginBox {
    border: solid 2px black;
    border-width: 2px 1px 1px 2px;
    border-radius: 2px;
    padding-right: 29px;
}

#menu {
    margin-right: 15px;
    width: 100%;
    border: solid 1px black;
}

.login{
    border-radius: 25px;
    display: block;
    padding: 2px;
    margin: 10px 0px 2px 0px;
    float: right;
}

.loginButton {
    border-radius: 25px;
}

.RememberMe {
    margin-top: 5px;
}

#button {
   background-image: url('../img/Button chrome.png');
   background-repeat: no-repeat;
}


